@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --color-gray: #8b8b8b;
  --color-almost-black: #0e0d0d;
  --color-bright-orange: #fd8900;
  --color-brown: #d77a25;
  --color-almost-white: #e9e9e9;
  --navbar-height: 80px;
}
body {
  background-color: var(--color-almost-black);
  color: var(--color-almost-white);
}
a {
  text-decoration: none;
  color: var(--color-almost-white);
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.container {
  max-width: 70vw;
  margin: auto;
}
.btn {
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.5s;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  position: relative;
  border-bottom: 1px solid var(--color-gray);
  min-height: var(--navbar-height);
  position: relative;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: var(--color-almost-black);
  padding: 0 3rem;
}
.logo {
  font-weight: bold;
  color: var(--color-brown);
  font-size: 1.6rem;
  text-align: center;
}
.navbar-list-container {
  display: flex;
  align-items: center;
}
.navbar-list {
  display: flex;
  align-items: center;
  transition: 0.8s;
}
.navbar-item:first-child {
  margin-right: 5rem;
}
.navbar-link {
  transition: 0.5s;
}
.navbar-link:hover {
  color: rgb(192, 141, 65);
}
.menu-icon {
  position: absolute;
  right: 1rem;
  top: 2rem;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.hero,
.menu-header,
.error {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("images/hero-coffee.jpg");
  padding-bottom: 6rem;
  padding-top: calc(6rem + var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hero a,
.suggest a,
.error a {
  color: black;
}
.hero h1,
.menu-header h1,
.error h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
.hero p {
  margin: 3rem 0;
  font-size: 1.2rem;
  line-height: 1.6;
}
.hero-btn,
.error-btn {
  padding: 1rem 1.8rem;
  border-radius: 2px;
  background: var(--color-bright-orange);
  font-size: 1.8rem;
}
.hero-btn:hover,
.hero-btn:focus,
.error-btn:hover,
.error-btn:focus {
  background: #c06600;
}
.info-numbers,
.suggest {
  background: black;
  text-align: center;
  padding: 4rem 0;
}
.info-numbers h2,
.suggest h2 {
  font-size: 2.3rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}
.info-numbers-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}
.info-numbers-card {
  margin-right: 4rem;
  padding: 3rem;
}
.info-numbers-card:last-child {
  margin-right: 0;
}
.info-numbers-container .number {
  color: var(--color-brown);
  font-size: 4rem;
  font-weight: bold;
}
.info-numbers-container .text {
  font-style: italic;
  font-size: 1.8rem;
  margin-top: 0.5rem;
}
.suggest {
  background-color: rgb(22, 22, 22);
}
.suggest-cards-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
  justify-content: center;
}
.suggest-card {
  background: black;
  max-width: 400px;
  box-shadow: 14px 14px 28px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
  justify-content: center;
}

.suggest-card:hover {
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.9);
}
.suggest-card-img {
  transition: 0.5s;
}
.suggest-card:hover .suggest-card-img {
  opacity: 0.7;
}
.suggest-card-txt {
  padding: 1.5rem;
  color: var(--color-brown);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggest-card .price {
  color: rgb(168, 168, 168);
  font-size: 1rem;
}
.newsletter {
  background: var(--color-brown);
  color: black;
  padding: 5rem 0;
  text-align: center;
}
.newsletter-container {
  display: grid;
  grid-template-columns: auto 400px;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.newsletter h2 {
  font-size: 2.3rem;
  text-transform: capitalize;
}
.newsletter-form {
  height: 40px;
  position: relative;
}
.newsletter-input {
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 400px;
  height: 100%;
  border-radius: 300px;
  border: none;
}
.newsletter-input:focus {
  border: 1px solid black;
}
.newsletter-btn {
  height: 100%;
  padding: 0.5rem 1.2rem;
  border-radius: 300px;
  background: black;
  color: white;
  border: 1px solid white;
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  transition: 0.5s;
}
.newsletter-btn:hover,
.newsletter-btn:focus {
  background: rgba(0, 0, 0, 0.9);
}
.footer {
  background: black;
  text-align: center;
}
.footer-social {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.social-icon {
  margin-right: 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5rem;
  border-radius: 50%;
}
.social-icon:hover {
  background: var(--color-almost-white);
  color: black;
}
.footer-copyright {
  border-top: 1px solid var(--color-gray);
  padding: 1.3rem 0;
}
.error {
  height: 100vh;
}
.error-btn {
  margin-top: 2rem;
}
.menu-header {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("images/menu.jpg");
  background-position: center;
  background-size: cover;
}
.menu-header h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
}
.menu {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: rgb(17, 17, 17);
  align-items: flex-start;
}
.menu-buttons-container {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  padding: 2rem 1rem;
  gap: 1rem;
}
.menu-btn {
  padding: 0.5rem 1.2rem;
  border-radius: 300px;
  background: rgb(78, 78, 78);
  color: var(--color-almost-white);
  font-size: 1.2rem;
  transition: 0.5s;
}
.menu-btn:hover,
.menu-btn:focus {
  background: var(--color-gray);
}
.menu-btn.active {
  background: var(--color-brown);
  color: var(--color-almost-black);
}
.menu-btn.active:hover,
.menu-btn.active:focus {
  background: #aa6320;
}
.menu-btn:last-child {
  margin-bottom: 0;
}
.menu-display {
  padding: 2rem;
}
.category h2 {
  text-align: center;
  padding: 1rem;
  margin: 2rem 0;
  border-bottom: 1px solid var(--color-almost-white);
  border-top: 1px solid var(--color-almost-white);
}
.category:first-child h2 {
  margin-top: 0;
}
.menu-cards-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.menu-card-txt {
  padding: 0.7rem;
  font-size: 1.1rem;
}
.menu-card-txt .price {
  font-size: 1rem;
}

@media screen and (max-width: 1250px) {
  .info-numbers-container {
    grid-template-columns: 1fr;
  }
  .info-numbers-card {
    margin-right: 0;
    padding: 1rem;
  }
  .info-numbers-container .number {
    font-size: 3.4rem;
    font-weight: bold;
  }
  .info-numbers-container .text {
    font-style: italic;
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 850px) {
  .menu {
    grid-template-columns: 1fr;
  }
  .menu-buttons-container {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .hero h1,
  .error h1 {
    font-size: 2.5rem;
  }
  .menu-header h1 {
    font-size: 2rem;
  }
  .hero p {
    margin: 2rem 0;
    font-size: 1.2rem;
  }
  .hero-btn,
  .error-btn {
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
  }
  .info-numbers h2,
  .suggest h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .suggest-cards-container {
    grid-template-columns: auto;
  }
  .newsletter-container {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }
  .navbar {
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }
  .divider {
    background: var(--color-gray);
    height: 1px;
    width: 100%;
  }
  .logo {
    padding: 1rem 0;
  }
  .navbar-list-container {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    width: 100%;
  }
  .navbar-list {
    flex-direction: column;
    width: 100%;
  }
  .navbar-item {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }
  .navbar-item:first-child {
    margin: 0;
    border-bottom: 1px solid var(--color-gray);
  }
  .menu-icon {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .hero h1,
  .error h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .hero-btn,
  .error-btn {
    padding: 0.5rem 0.9rem;
    font-size: 1.3rem;
  }
  .info-numbers h2,
  .suggest h2,
  .newsletter h2 {
    font-size: 1.6rem;
  }
  .info-numbers-container .number {
    font-size: 2.7rem;
  }
  .info-numbers-container .text {
    font-size: 1.2rem;
  }
  .newsletter {
    padding: 2rem;
  }
  .newsletter-form {
    height: initial;
  }
  .newsletter-container {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }
  .newsletter-input {
    font-size: 0.9rem;
    width: 300px;
  }
  .newsletter-btn {
    font-size: 1rem;
    position: static;
    width: 300px;
    margin-top: 1rem;
  }
  .social-icon {
    margin-right: 1.2rem;
    font-size: 2.5rem;
  }
  .footer-copyright {
    font-size: 0.9rem;
  }
}
